# 交换/备份文件
vim92/acm/vimswapfiles/backup/*
vim92/acm/vimswapfiles/swap/*
vim92/acm/vimswapfiles/undo/*
!vim92/acm/vimswapfiles/backup/.gitkeep
!vim92/acm/vimswapfiles/swap/.gitkeep
!vim92/acm/vimswapfiles/undo/.gitkeep